html {
  background: url('/static/img/letter-paper.jpg');
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
}

.page {
  height: 100%;
  width: 100%;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
}

.content, #canvas-content{
  text-align: center;
  /*max-height: 85%;*/
  overflow: hidden;
}

.content {
  width: 70%;
}

#canvas-content {
  font-size: 6.5vw;
}

#canvas-content p {
  margin: 0px 0px 2vw 0px;
  color: #E93D6D;
}

.title {
  width: 100%;
  color: #E93D6D;
  font-weight: bold;
  font-size: 6.5vw;
}

.answer {
  text-align: left;
  font-size: 3vh;
  margin-top: 2vh;
}

.answer p {
  margin: 0px 0px 2vh 0px;
}

.answer ol p {
  color: #E93D6D;
}

#first-meet, #morning-call, #moving-4-12, #moving-6-1 {
  text-align: center;
}

#first-meet img {
  height: 20vh;
}

#morning-call img {
  height: 60vh;
}

#moving-4-12 img {
  width: 50vw;
}

#moving-6-1 img {
  height: 60vh;
}

.audio-container {
  text-align: center;
}

.cover:hover {
  cursor: pointer;
}

.cover {
  width: 10vh;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
}

@keyframes spinning {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@-webkit-keyframes spinning {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}

.cover.animate {
  animation: spinning 10s infinite linear;
  -webkit-animation: spinning 10s infinite linear;
}
