html {
  background: url('http://git.oschina.net/isuy/static/raw/master/img/letter-paper.jpg');
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
}

.page {
  height: 100%;
  width: 100%;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
}

.content {
  text-align: center;
  font-size: 300%;
  width: 100%;
  overflow: hidden;
}

#elapsed-time {
  font-size: 80%;
}

.cover:hover {
  cursor: pointer;
}

.cover {
  width: 25%;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
}

@keyframes spinning {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@-webkit-keyframes spinning {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}

.cover.animate {
  animation: spinning 10s infinite linear;
  -webkit-animation: spinning 10s infinite linear;
}
